<form action="/task" method="post">
  <label for="name">Entrar Nombre</label>
  <input type="text" name="task[name]" placeholder="Nombre">

  <label for="name">Entrar detalles</label>
  <input type="text" name="task[details]" placeholder="Detalles">

  <input type="submit" value="Create">
</form>
